@charset "utf-8";
td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	/*font-size: 0.7rem;*/
	color: #333;
	line-height: 1.5;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: #333;
}
a img{
	border: none 0px #fff;
}
h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0.3em;
}
@mixin button {
    background-color: #9E3314;
    color: #fff;
    /*color: #2B2B2B;*/
    display: inline-block;
    font-size: 1rem;
    margin: 3px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: unset;
    border-radius: 5px; /*just to make it less square*/
    padding: 10px 15px;
}

button {
  @include button();
}

@mixin favorite_button {
  width: 35px;
  height: 35px;
  border: none;
  background-size: cover;
}

button.favorite {
  @include favorite_button();
  background: url('/img/icon/favorite.svg') no-repeat;
}

button.make_favorite {
  @include favorite_button();
  background: url('/img/icon/make_favorite.svg') no-repeat;
}

#maincontent, #content {
  max-width: 100%;
}

